:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --hero-title-color: #FFFFFF;
    --contacts-color: rgba(255, 255, 255, 0.6);
    --hero-background-color: #2F303A;
    --main-background-color: #E5E5E5;
    --secondary-background-color: #F5F4FA;
}
        
        /*Body*/
.page {
    color: var(--primary-text-color);  
    background-color: #FFFFFF;
    font-family: roboto, sans-serif;
    letter-spacing: 0.03em;   
}

.list {
    list-style: none;
}

        /*header*/   
.header-style {
    background-color: var(--hero-title-color); 
    letter-spacing: 0.02em;   
    font-weight: 500;    
    line-height: 1.14; 
}

        /*site-nav*/
.site-nav a {
    color: var(--title-text-color);
}

.site-nav a.current {
    color: var(--accent-color);
}

.site-nav a:hover,
.site-nav a:focus {
    color: var(--accent-color);
}

.portfolio-filtr button:hover,
.portfolio-filtr button:focus {
    background-color:var(--accent-color);
    color:var(--hero-title-color) ;
}

.contact-info a:hover,
.contact-info a:focus {
    color: var(--accent-color);
}

.contact-info {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

        /*hero*/
.hero {
    color: var(--hero-title-color);
    background-color: var(--hero-background-color);
    letter-spacing: 0.06em;       
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align:center;
}  

.hero-button {
    color: var(--hero-title-color);
    background-color: var(--accent-color);
    font-size: 16px;
    line-height: 1.88;
    font-weight: 700;
    letter-spacing: 0.06em;
    text-align:center;
} 
.current-portfolio-button {
    color: var(--hero-title-color);
    background-color: var(--accent-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
}
.portfolio-button {
    color: var(--title-text-color);
    background-color: var(--secondary-background-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
}

        /*section*/
.prima-section-title,
.second-section-title {
    color: var(--title-text-color);
}
.team-title {        
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}
.prima-section-title {
    font-size: 14px;
    line-height: 1.14;
    font-weight: 700;
}
.prima-section-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}
.second-section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align:center;
}
.company-team p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;                
}

.portfolio-title {
    color: var( --title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.portfolio-type {
    color: var(--primary-text-color);  
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;  
}
button {
    font-family: inherit;
}

        /*team*/
.team {
    background-color: var(--secondary-background-color);
}

a {
    text-decoration: none;
} 

            /*footer*/
footer {
    background-color: var(--hero-background-color);
} 
    
.footer-contact {
    color:rgba(255, 255, 255, 0.6);
}
